<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{path('home')}} ">Polytrotters</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Mon fil d'actualité <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mon profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mes Amis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Réglages</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Rechercher">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
            {% if app.user %}
                <li class="nav-item">
                    <a href="{{ path('account_logout') }}" class="nav-link">Déconnexion</a>
                </li>
            {% else %}
            <li class="nav-item">
                <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('account_login') }}" class="nav-link">Connexion</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
<div class="container mt-1">
    <div class="alert alert-{{label}}">
        {% for message in messages %}
        <p>{{ message | raw}} </p>
        {% endfor %}
    </div>
</div>
{% endfor %}