{% extends 'base.html.twig' %}

{% block title %} Poste {% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">{{poste.titre}} </h1>
        <p class="lead">{{poste.ville}}</p>
        <hr class="my-4">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for photo in poste.photos %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %}
                    class="active" {% endif %}></li>

                {% endfor %}
            </ol>
            <div class="carousel-inner" style="height: 600px;">

                {% for photo in poste.photos %}
                <div class="carousel-item {% if loop.first %}  active {% endif %}">
                    <img class="d-block w-100 h-120" src="{{photo.urlPhoto}}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-sur-image">{{photo.nom}} </h5>
                        <p class="text-sur-image">{{photo.descriptionPhoto}} </p>
                    </div>
                </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <span class="js-nb-like">{{poste.likePostes | length}}</span>

        {% if app.user and poste.isLikedByUser(app.user) %}
        <a href="{{path('poste_like', {'id' : poste.id})}}" class="js-like"> <i class="fas fa-heart"
                style="color: red;"></i></a>
        {% else %}
        <a href="{{path('poste_like', {'id' : poste.id})}}" class="js-like"><i class="far fa-heart"
                style="color: red;"></i></a>
        {% endif %}

        <p>{{poste.description}} </p>
        <p class="lead">
            <button class="btn btn-primary btn-lg" id="afficheFormComment">Ajouter un commentaire</button>

            {% if poste.trotter == app.user %}
            <a href="{{path('poste_delete', {'id': poste.id})}} " class="btn btn-danger"
                onclick="return confirm(`Etre vous sûr de vouloir supprimer l'annonce : {{poste.titre}} ?`)">Supprimer
                le poste</a>
            {% endif %}
        </p>
        <div class="alert alert-light ajout-comment">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Confirmer</button>
            <a class="btn btn-danger" id="annuler-form" style="color: white;">Annuler</a>
            {{ form_end(form) }}
        </div>

        {% if poste.commentaires | length > 0 %}
        <h2 class="mb-3">Commentaires des trotters</h2>
        {% for comment in poste.commentaires %}
        <hr>
        {% if comment.auteur == app.user %}
        <div class="bg-success rounded mb-3 py-3 px-3">
            {% else %}
            <div class="bg-primary rounded mb-3 py-3 px-3">
                {% endif %}
                <strong>{{comment.auteur.pseudo}}</strong> a dit :
                <blockquote>
                    {{comment.contenu}}
                </blockquote>
                <span id="js-nb-like-{{comment.id}}">{{comment.likeCommentaires | length}}</span>
                {% if app.user and comment.isLikedByUser(app.user) %}
                <a href="{{path('commentaire_like', {'id' : comment.id})}}" class="js-likeComment" id="like-commentaire-{{comment.id}}" onclick="onClickLikeCommentaire({{comment.id}})"> <i
                        class="fas fa-heart" style="color: red;"></i></a>
                {% else %}
                <a href="{{path('commentaire_like', {'id' : comment.id})}}" class="js-likeComment" id="like-commentaire-{{comment.id}}" onclick="onClickLikeCommentaire({{comment.id}})"><i
                        class="far fa-heart" style="color: red;"></i></a>
                {% endif %}

                {% if comment.auteur == app.user %}
                <a href="{{path('commentaire_delete', {'id': comment.id})}} " class="btn btn-danger"
                    onclick="return confirm(`Etre vous sûr de vouloir supprimer le commentaire ?`)">Supprimer</a>
                {% endif %}

            </div>
            {% endfor %}
            {% else %}
            <h2>Cette annonce n'a toujours pas reçu de commentaires...</h2>
            {% endif %}
        </div>
    </div>


    {% endblock %}

    {% block javascripts %}

    <script>
        $("#afficheFormComment").click(function () {
            $(".ajout-comment").css("display", "block");
        });
        $("#annuler-form").click(function () {
            $(".ajout-comment").css("display", "none");
        });

        document.querySelectorAll("a.js-like").forEach(function (link) {
            link.addEventListener('click', onClickLikePoste)
        });

        function onClickLikePoste(event) {
            event.preventDefault();

            const url = this.href;

            axios.get(url).then(function (response) {
                $(".js-nb-like").text(response.data.likes);
                message = response.data.message;
                if (message.includes("Unlike")) {
                    $('.js-like>.fas').removeClass('fas').addClass('far');
                } else {
                    $('.js-like>.far').removeClass('far').addClass('fas');
                }
            }).catch(function (error) {
                if (error.response.status === 403) {
                    alert("Vous devez être connecté pour pouvoir liker un poste");
                }
            });
        }


        /*document.querySelectorAll("a.js-likeCommentaire").forEach(function (link) {
            link.addEventListener('click', onClickLikeCommentaire)
        });*/

        function onClickLikeCommentaire(id) {
            event.preventDefault();

            const url = $("#like-commentaire-"+id).attr('href');

            axios.get(url).then(function (response) {
                $("#js-nb-like-"+id).text(response.data.likes);
                message = response.data.message;
                if (message.includes("Unlike")) {
                    $('#like-commentaire-'+id+'>.fas').removeClass('fas').addClass('far');
                } else {
                    $('#like-commentaire-'+id+'>.far').removeClass('far').addClass('fas');
                }
            }).catch(function (error) {
                if (error.response.status === 403) {
                    alert("Vous devez être connecté pour pouvoir liker un poste");
                }
            });
        }

    </script>

    {% endblock %}